/.gradle/*
/.cxx/*
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/vcs.xml
/build/*
/.classpath
/.idea/.gitignore
/.editorconfig
/platform.jks
